<h1>Administer categories</h1>

<a href="/categories/add_new">Add new category</a>

<table>
  <thead>
    <th>Category name</th>
    <th>Edit category?</th>
    <th>Delete category</th>
  </thead>
  <tbody>
    <% @categories_list.each do |category| %>
      <tr>
        <td><%== category[:name] %></td>
        <td>
          <a href="/category/<%== category[:name] %>/edit">Edit</a>
        </td>
        <td>
          <form class="delete_category" action="/category/delete" method="post">
            <input type="hidden" name="name" value="<%== category[:name] %>"/>
            <button type="submit" class="delete">Delete category</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>