<form action="#" method="post">
  <dl>
    <dt><label for="title">Title</label></dt>
    <dd><input id="title" type="text" name="title" value="<%= @book[:title] %>"></dd>
    <dt><label for="authors">Author</label></dt>
    <dd><input id="authors" type="text" name="authors" value="<%= @book[:author] %>"></dd>
    <dt><label for="collection">Collection</label></dt>
    <dd><input id="categories" type="text" name="categories" value="<%= @book[:categories] %>"></dd>
    <dt><label for="available">Availability</label></dt>
    <dd><input id="available" type="textavailable" name="available" value="<%= book_availability(@book) %>"></dd>
  </dl>
</form>