<p>Welcome to the Book Borrowers' Collective.</p>
<p>You need to have an accout to lend and borrow books.</p>
<a href="/register">Create new account</a>
<p>Sign in</p>

<a href="">View your books</a>
<p>Sign out</p>
<a href="/all_books_list">View all books</a>
