<!doctype html>
<html lang="en-US">
  <head>
    <title>Book Borrower's Collective</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/whitespace-reset.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header>
      <h1>Book Borrower's Collective</h1>
    </header>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
