<!doctype html>
<html lang="en-US">
  <head>
    <title>Bookle</title>
    <meta charset="UTF-8">
    <%# <link rel="stylesheet" href="/stylesheets/whitespace-reset.css"> %>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/all_books_list">View all books</a>
        <% if session[:user_id] %>
          <a href="/users/book_list">View your books</a>
        <% end %>
      </nav>
      <% if session[:user_id] %>
        <p>
          <form method="post" action="/users/signout">
            Signed in as <%= session[:user_name] %>.
            <button type="submit">Sign Out</button>
          </form>
        </p>
      <% else %>
        <p>
          You need to have an account to lend and borrow books.
          <a href="/users/signin">Sign In</a>
          <a href="/users/signup">Create Account</a>
        </p>
      <% end %>
      <h1><a href="/">Bookle</a></h1>
    </header>

    <main>
      <% if session[:message] %>
        <p class="message"><%= session.delete(:message) %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
