<h1>Administer users</h1>

<table>
  <thead>
    <th>Username</th>
    <th>Reset Password?</th>
  </thead>
  <tbody>
    <% @users.each do |user, password| %>
      <tr>
        <td><%= user %>
        <td>
          <form class="reset_password" action="/users/reset_password" method="post">
            <input type="hidden" name="user_name" value="<%= user %>"/>
            <button type="submit" class="reset_password">Reset password</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>