<h1>Administer your account</h1>
<form method="post" action="/user/edit_login">
  <div>
    <label for="new_username"> Enter a username:
      <input name="new_username" id="new_username" value="<%= session[:user_name] %>"/>
    </label>
  </div>
  <div>
    <label for="password"> Enter current password:
      <input type="password" id="password" name="current_password" />
    </label>
  </div>
  <div>
    <label for="password"> Enter new password:
      <input type="password" id="password" name="new_password" />
    </label>
  </div>
  <div>
    <label for="reenter_password"> Reenter new password:
      <input type="password" id="reenter_password" name="reenter_password" />
    </label>
  </div>
  <button type="submit">Change login details</button>
</form>